*.graphql linguist-detectable=true
*.graphql linguist-language=GraphQL

*.gql linguist-detectable=true
*.gql linguist-language=GraphQL

*.graphqls linguist-detectable=true
*.graphqls linguist-language=GraphQL

*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.yaml linguist-detectable=true
*.yaml linguist-language=YAML
