# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
.next
out
.vercel

# My Entries
.vscode/
build/
dist/
notes.txt

*.graphql.d.ts
*.graphqls.d.ts
__generated__
Temp/
# dev.db
# meals.db
# data.db
# posts.db
*.db
