*.graphql linguist-detectable=true
*.graphql linguist-language=GraphQL

*.gql linguist-detectable=true
*.gql linguist-language=GraphQL

*.graphqls linguist-detectable=true
*.graphqls linguist-language=GraphQL

*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.yaml linguist-detectable=true
*.yaml linguist-language=YAML

*.prisma linguist-detectable=true
*.prisma linguist-language=Prisma

*.sql linguist-detectable=true
*.sql linguist-language=sql

*.toml linguist-detectable=true
*.toml linguist-language=TOML
