@use "_App.module" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: $app-background-whiteSmoke;
  color: $dark-color;
  width: 100%;
  height: 100%;
}
